*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(255, 255, 255, 0.942);
    font-family: "Times New Roman", Times, serif;
}
.container{
    width:800px; 
    height: 500px;
    display: flex;
    margin:0 auto;
    border-radius: 25px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    box-shadow: rgba(0, 0, 0, 0.46) 1.95px 1.95px 2.6px;
    margin-top: 50px;
}

.headerContainer{   
    width: 150px;
    height: 350px;
    margin-left: 20px;
    margin-top: 25px;
    /* background-color: beige; */
}
.linkPrf{
    width: 100%;
    height: auto;
    text-align: center;
    /* background-color: red; */
}
.headerImg{
    width: 100%;
    height: 200px;
}

.avatar{
    border-radius: 15px;
  
}

.bodyContainer{
    width: 200px;
    height: 100px;
    margin-left: 50px;
    margin-top: 25px; 
}

.footerContainer{
    width: 200px;
    height: 100px;
}

.inputText{
    background-color: white;
    border: 0;
}
